services:

  plex:
    container_name: "plex"
    image: "lscr.io/linuxserver/plex:1.41.9"
    restart: "unless-stopped"
    network_mode: "host"
    volumes:
      - /opt/allans-home-lab/plex/config:/config
      - /mnt/media-library:/media-library
    environment: 
      TZ: "America/New_York"
      PUID: "{{ homelab_user_id }}"
      PGID: "{{ homelab_group_id }}"
