services:

  plex:
    container_name: "plex"
    image: "lscr.io/linuxserver/plex:1.41.3"
    restart: "unless-stopped"
    network_mode: "host"
    volumes:
      - type: volume
        source: plex_config
        target: /config
      - type: volume
        source: media_library
        target: /media-library
    environment: 
      TZ: "America/New_York"
      PUID: "3000"
      PGID: "3000"
      #PUID: "{{ homelab_user_id }}"
      #PGID: "{{ homelab_group_id }}"

volumes:
  plex_config:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.86.104,rw
      device: ":/mnt/pool1/plex/config"
  media_library:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.86.104,ro
      device: ":/mnt/pool1/media-library"
