apiVersion: v1
kind: Service
metadata:
  name: nginx-external
  namespace: nginx
spec:
  ports:
    - name: http
      port: 80
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: nginx-external-1
  namespace: nginx
  labels:
    kubernetes.io/service-name: nginx-external
addressType: IPv4
ports:
  - name: http
    protocol: TCP
    port: 8885
endpoints:
  - addresses:
      - "192.168.86.228"