---
apiVersion: v1
kind: Service
metadata:
  name: nginx-external
  namespace: nginx
spec:
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Endpoints
metadata:
  name: nginx-external
  namespace: nginx
subsets:
  - addresses:
      - ip: 192.168.86.228
    ports:
      - name: http
        port: 8885
        protocol: TCP