---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-service-ingresses
  namespace: default
spec:
  entryPoints:
    - websecure
  routes: 
    - match: Host(`homepage.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: homepage
          namespace: default
          port: 3000
          scheme: http 
    - match: Host(`longhorn.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: longhorn-frontend
          namespace: longhorn-system
          port: 80
          scheme: http 
    - match: Host(`lidarr-homepage.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: lidarr
          namespace: media
          port: 8686
          scheme: http 
    - match: Host(`radarr-homepage.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: radarr
          namespace: media
          port: 7878
          scheme: http   
    - match: Host(`sonarr-homepage.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: sonarr
          namespace: media
          port: 8989
          scheme: http  
    - match: Host(`radarr.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: radarr
          namespace:  media
          port: 7878
          scheme: http        
    - kind: Rule
      match: "Host(`radarr.k8s.allanshomelab.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
    - match: Host(`sonarr.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: sonarr
          namespace:  media
          port: 8989
          scheme: http        
    - kind: Rule
      match: "Host(`sonarr.k8s.allanshomelab.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
    - match: Host(`auth.allanandvaia.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: authentik-server
          namespace: authentik
          port: 80
          scheme: http 
    - match: Host(`auth.129monroe.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: authentik-server
          namespace: authentik
          port: 80
          scheme: http 
    - match: Host(`auth.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: authentik-server
          namespace: authentik
          port: 80
          scheme: http 
    - match: Host(`dns.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: pihole-web
          namespace: pihole
          port: 80
          scheme: http 
    - match: Host(`grafana.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: kube-prometheus-stack-grafana
          namespace: kube-prometheus-stack
          port: 80
          scheme: http 
    - match: Host(`prometheus.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: kube-prometheus-stack-prometheus
          namespace: kube-prometheus-stack
          port: 9090
          scheme: http
    - match: Host(`alerts.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: kube-prometheus-stack-alertmanager
          namespace: kube-prometheus-stack
          port: 9093
          scheme: http
    - match: Host(`rancher.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: rancher
          namespace: cattle-system
          port: 80
          scheme: http 
    - match: Host(`gitops.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: argocd-server
          namespace: argocd
          port: 443
          scheme: https    
    - match: Host(`129monroe.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: nginx
          namespace:  nginx
          port: 80
          scheme: http        
    - kind: Rule
      match: "Host(`129monroe.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
    - match: Host(`www.129monroe.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: nginx
          namespace:  nginx
          port: 80
          scheme: http        
    - kind: Rule
      match: "Host(`www.129monroe.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
    - match: Host(`www.allanandvaia.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: nginx
          namespace:  nginx
          port: 80
          scheme: http        
    - kind: Rule
      match: "Host(`www.allanandvaia.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
    - match: Host(`allanandvaia.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: nginx
          namespace:  nginx
          port: 80
          scheme: http        
    - kind: Rule
      match: "Host(`allanandvaia.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
    - match: Host(`allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: nginx-external
          namespace: nginx
          port: 80
          scheme: http     
    - kind: Rule
      match: "Host(`allanshomelab.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
    - match: Host(`www.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: nginx-external
          namespace: nginx
          port: 80
          scheme: http      
    - kind: Rule
      match: "Host(`www.allanshomelab.com`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000                                                                  
    - match: Host(`radarr.docker.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: default
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: traefik-endpoint-radarr
          namespace:  traefik
          port: 31300
          scheme: http        
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-external
  namespace: nginx
spec:
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Endpoints
metadata:
  name: nginx-external
  namespace: nginx
subsets:
  - addresses:
      - ip: 192.168.86.228
    ports:
      - name: http
        port: 8885
        protocol: TCP
