---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-service-ingresses
  namespace: default
spec:
  entryPoints:
    - websecure
  routes: 
    - match: Host(`longhorn.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: longhorn-frontend
          namespace: longhorn-system
          port: 80
          scheme: http                
    - match: Host(`grafana.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: kube-prometheus-stack-grafana
          namespace: kube-prometheus-stack
          port: 80
          scheme: http 
    - match: Host(`prometheus.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: kube-prometheus-stack-prometheus
          namespace: kube-prometheus-stack
          port: 9090
          scheme: http
    - match: Host(`alerts.k8s.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: kube-prometheus-stack-alertmanager
          namespace: kube-prometheus-stack
          port: 9093
          scheme: http
    - match: Host(`gitops.allanshomelab.com`)
      kind: Rule
      middlewares:
        - name: traefik-custom-headers
          namespace: default
      priority: 10
      services:
        - name: argocd-server
          namespace: argocd
          port: 443
          scheme: https    
