---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: default
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    title: "Allan's Home Lab"
    headerStyle: underlined
    useEqualHeights: true
    layout:
      Home Lab Management:
        style: "row"
        columns: 4
      Dev Ops:
        style: "row"
        columns: 4
      Networking and Authentication:
        style: "row"
        columns: 4
      Media:
        style: "row"
        columns: 4
      Productivity:
        style: "row"
        columns: 4
      Home Automation:
        style: "row"
        columns: 4
      GitHub:
      GitOps:
      Documentation:
    theme: "dark"
    color: "slate"
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: |
    - GitHub:
        - Allan's Home Lab:
          - abbr: AH
            href: https://github.com/allan-lewis/allans-home-lab
        - Dotfiles:
          - abbr: DF
            href: https://github.com/allan-lewis/dotfiles
        - Gitops Home Lab:
          - abbr: GH
            href: https://github.com/allan-lewis/gitops-homelab
        - Gitops Home Lab Orchestrator:
          - abbr: GO
            href: https://github.com/allan-lewis/gitops-homelab-orchestrator
        - Homelab Metrics:
          - abbr: HM
            href: https://github.com/allan-lewis/homelab-metrics
        - No Geeks Brewing:
          - abbr: NG
            href: https://github.com/allan-lewis/no-geeks-brewing-go
    - GitOps:
        - Docker Hub:
          - abbr: DH
            href: https://hub.docker.com/search?q=allanelewis
        - Doppler:
          - abbr: DP
            href: https://dashboard.doppler.com/workplace/f4e646dd70eec9c4d331/projects/default
        - Renovate:
          - abbr: RV
            href: https://developer.mend.io/github/allan-lewis
    - Documentation:  
        - Homepage:
          - abbr: HP
            href: https://gethomepage.dev/
  services.yaml: |
    - Home Lab Management:
        - Gilead:
            icon: truenas.png
            href: https://gilead.hosts.allanshomelab.com
            description: NAS (offsite backup)
            namespace:
            app:
            server:
            container:
            widget:
              type: truenas
              url: https://gilead.hosts.allanshomelab.com
              username: truenas_admin
              password: "{{HOMEPAGE_VAR_TRUENAS_PASSWORD}}"
        - Derry:
            # icon: https://styles.redditmedia.com/t5_23wawa/styles/communityIcon_4dwn4v5j0f641.png?width=256&v=enabled&s=27560fbcc6159fe0c23f4a3e5366223954d32509
            icon: asustor.png
            href: https://derry.hosts.allanshomelab.com
            description: NAS (local backup)
        - Longhorn:
            icon: longhorn.png
            href: https://longhorn.k8s.allanshomelab.com
            description: Distributed k8s storage
            namespace: longhorn-system
            app: longhorn
        - Polaris:
            icon: proxmox.png
            href: https://polaris.hosts.allanshomelab.com
            description: Hypervisor
            widget:
              type: proxmox
              url: https://polaris.hosts.allanshomelab.com
              username: {{HOMEPAGE_VAR_POLARIS_USERNAME}}
              password: {{HOMEPAGE_VAR_POLARIS_PASSWORD}}
              fields: ['vms', 'resources.cpu', 'resources.mem']
        - Portainer:
            icon: portainer.png
            href: https://portainer.k8s.allanshomelab.com
            description: Container management
            namespace: portainer
            app: portainer
        - Procyon:
            icon: truenas.png
            href: https://procyon.hosts.allanshomelab.com
            description: NAS
            namespace:
            app:
            server:
            container:
            widget:
              type: truenas
              url: https://procyon.hosts.allanshomelab.com
              username: truenas_admin
              password: "{{HOMEPAGE_VAR_TRUENAS_PASSWORD}}"
        - Sirius:
            icon: proxmox.png
            href: https://sirius.hosts.allanshomelab.com
            description: Hypervisor
            widget:
              type: proxmox
              url: https://sirius.hosts.allanshomelab.com
              username: {{HOMEPAGE_VAR_SIRIUS_USERNAME}}
              password: {{HOMEPAGE_VAR_SIRIUS_PASSWORD}}
              fields: ['vms', 'resources.cpu', 'resources.mem']
    - Dev Ops:
        - Alertmanager:
            icon: alertmanager.png
            href: https://alerts.k8s.allanshomelab.com
            description: Monitoring system
            namespace: kube-prometheus-stack
            app: alertmanager
        - Argo CD:
            icon: argo-cd.png
            href: {{HOMEPAGE_VAR_ARGO_CD_URL}}
            description: CD tool for Kubernetes
            namespace: argocd
            app: argocd-server
            widget:
              type: argocd
              url: {{HOMEPAGE_VAR_ARGO_CD_URL}}
              key: "{{HOMEPAGE_VAR_ARGO_CD_KEY}}"
              fields: ['apps', 'healthy', 'synced']
        - Gatus:
            icon: gatus.png
            href: https://gatus.docker.allanshomelab.com
            description: Health dashboard
            server: flagg
            container: gatus
            widget:
              type: gatus
              url: https://gatus.docker.allanshomelab.com
        - Grafana:
            icon: grafana.png
            href: https://grafana.allanshomelab.com
            description: Operational dashboards
            namespace: kube-prometheus-stack
            app: grafana
            widget:
              type: grafana
              url: https://grafana.allanshomelab.com
              username: {{HOMEPAGE_VAR_GRAFANA_USERNAME}}
              password: {{HOMEPAGE_VAR_GRAFANA_PASSWORD}}
              fields: ['dashboards', 'datasources']
        - Healthchecks:
            icon: healthchecks.png
            href: https://healthchecks.io/projects/5f5c3869-90bf-4242-9174-76b5ecb3a357//checks/
            description: Job minitoring service
            widget:
              type: healthchecks
              url: https://healthchecks.io
              key: "{{HOMEPAGE_VAR_HEALTHCHECKS_KEY}}"
        - Prometheus:
            icon: prometheus.png
            href: https://prometheus.k8s.allanshomelab.com
            description: Monitoring/alerting toolkit
            namespace: kube-prometheus-stack
            app: prometheus
            server: 
            container: 
            widget:
              type: prometheus
              url: https://prometheus.k8s.allanshomelab.com
    - Networking and Authentication:
        - Authentik (k8s):
            icon: authentik.png
            href: https://auth.allanshomelab.com
            description: Identity provider
            namespace: authentik
            app: authentik
            server: 
            container: 
            widget:
              type: authentik
              url: https://auth.allanshomelab.com
              key: {{HOMEPAGE_VAR_AUTHENTIK_KEY}}
              version: 2
        - Cloudflared:
            icon: cloudflare.png
            href: {{HOMEPAGE_VAR_CLOUDFLARE_URL}}
            description: Zero trust tunnel
            server: flagg
            container: cloudflare-cloudflared-1
            widget:
              type: cloudflared
              key: {{HOMEPAGE_VAR_CLOUDFLARE_KEY}}
              accountid: {{HOMEPAGE_VAR_CLOUDFLARE_ACCOUTNT_ID}}
              tunnelid: {{HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ID}}
        - Pi-hole (Docker):
            icon: pi-hole.png
            href: https://dns.docker.allanshomelab.com/admin
            description: Backup DNS server
            server: flagg
            container: pihole
            widget:
              type: pihole
              url: https://dns.docker.allanshomelab.com
              version: 6
              key: {{HOMEPAGE_VAR_PIHOLE_KEY_DOCKER}}
        - Tailscale:
            icon: tailscale.png
            href: https://login.tailscale.com/admin/machines
            description: Mesh VPN
        - Traefik (k8s):
            icon: traefik.png
            href: https://traefik.k8s.allanshomelab.com
            description: Reverse proxy/load balancer
            namespace: traefik
            app: traefik
            widget:
              type: traefik
              url: https://traefik.k8s.allanshomelab.com
        - Traefik (Docker):
            icon: traefik.png
            href: https://traefik.docker.allanshomelab.com
            description: Reverse proxy/load balancer
            server: flagg
            container: traefik
            widget:
              type: traefik
              url: https://traefik.docker.allanshomelab.com
        - Twingate:
            icon: twingate.png
            href: https://allanshomelab.twingate.com/networks/overview
            descripion: Zero-trust access
            server: flagg
            container: valiant_stingray
    - Media:
        - Immich:
            icon: immich.png
            href: https://photos.allanandvaia.com
            description: Photo and video management
            server: misery
            container: immich_server
            widget:
              type: immich
              url: https://photos.allanandvaia.com
              key: {{HOMEPAGE_VAR_IMMICH_KEY}}
              version: 2
        - Jackett:
            icon: jackett.png
            href: https://jackett.media.allanshomelab.com
            description: Tracker proxy server
            server: cujo
            container: jackett
            widget:
              type: jackett
              url: https://jackett.media.allanshomelab.com
        - Jellyfin:
            icon: jellyfin.png
            href: https://jellyfin.media.allanshomelab.com
            description: Media server
            server: misery
            container: jellyfin
            widget:
              type: jellyfin
              url: https://jellyfin.media.allanshomelab.com
              key: {{HOMEPAGE_VAR_JELLYFIN_KEY}}
              enableBlocks: true # optional, defaults to false
              enableNowPlaying: true # optional, defaults to true
              enableUser: true # optional, defaults to false
              enableMediaControl: false # optional, defaults to true
              showEpisodeNumber: true # optional, defaults to false
              expandOneStreamToTwoRows: false # optional, defaults to true
        - Lidarr:
            icon: lidarr.png
            href: https://lidarr.media.allanshomelab.com
            description: Music management
            server: cujo
            container: lidarr
            widget:
              type: lidarr
              url: https://lidarr.media.allanshomelab.com
              key: {{HOMEPAGE_VAR_LIDARR_KEY}}
        - Plex:
            icon: plex.png
            href: https://plex.media.allanshomelab.com
            description: Media server
            server: misery
            container: plex
            widget:
              type: plex
              url: https://plex.media.allanshomelab.com
              key: {{HOMEPAGE_VAR_PLEX_KEY}}
        - Radarr:
            icon: radarr.png
            href: https://radarr.media.allanshomelab.com
            description: Movie management
            server: cujo
            container: radarr
            widget:
              type: radarr
              url: https://radarr.media.allanshomelab.com
              key: {{HOMEPAGE_VAR_RADARR_KEY}}
        - Sonarr:
            icon: sonarr.png
            href: https://sonarr.media.allanshomelab.com
            description: Show management
            server: cujo
            container: sonarr
            widget:
              type: sonarr
              url: https://sonarr.media.allanshomelab.com
              key: {{HOMEPAGE_VAR_SONARR_KEY}}
        - Tautulli:
            icon: tautulli.png
            href: https://tautulli.media.allanshomelab.com
            description: Plex monitoring and analytics
            server: misery
            container: tautulli
            widget:
              type: tautulli
              url: https://tautulli.media.allanshomelab.com
              key: {{HOMEPAGE_VAR_TAUTULLI_KEY}}
        - Transmission:
            icon: transmission.png
            href: https://transmission.media.allanshomelab.com
            description: Torrent download client
            server: cujo
            container: transmission
            widget:
              type: transmission
              url: https://transmission.media.allanshomelab.com
    - Productivity:
        - IT Tools:
            icon: it-tools.png
            href: https://tools.docker.allanshomelab.com
            description: Handy tools for developers
            server: carrie
            container: it_tools
        - Memos:
            icon: memos.png
            href: https://memos.allanandvaia.com
            description: Note-taking
            namespace: memos
            app: memos
        - Vaultwarden:
            icon: bitwarden.png
            href: https://vault.allanshomelab.com
            description: Secrets management
            namespace: vaultwarden
            app: vaultwarden
    - Home Automation:
        - Homeassistant:
            icon: home-assistant.png
            href: https://home.allanandvaia.com
            description: Home automation server
            widget:
              type: homeassistant
              url: https://home.allanandvaia.com
              key: {{HOMEPAGE_VAR_HOMEASSIST_KEY}}
  widgets.yaml: |
    - greeting:
        text_size: xl
        text: "Allan's Home Lab"
    - datetime:
        text_size: xl
        format:
          dateStyle: full
          timeStyle: short
          hour12: false
  docker.yaml: |
    carrie:
      host: 192.168.86.228
      port: 2375
    cujo:
      host: 192.168.86.226
      port: 2375
    flagg:
      host: 192.168.86.205
      port: 2375
    misery:
      host: 192.168.86.227
      port: 2375
