#!/bin/bash

set -e

echo "Starting backups @ $(date)"

{% for backup in homelab_remote_volumes | default([]) %}
echo "Backing up {{ backup.src }} to {{ hostvars[backup.host]['ansible_host'] }} {{ backup.dest }}"

rsync -av {{ backup.options | default('') }} {{  backup.src }} {{ homelab_backup_username }}@{{ hostvars[backup.host]['ansible_host'] }}:{{ backup.dest }}

{% endfor %}
echo "Backups complete"

{% if homelab_backup_healthcheck is defined %}
echo "Sending health check"

curl -s https://hc-ping.com/{{ homelab_backup_healthcheck }}

{% endif %}
echo ""
echo "That's all, folks"
echo ""
