---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ gitops_deployment_name | default(gitops_service_name) }}
  namespace: {{ gitops_namespace }}
  labels:
    app: {{ gitops_application_name | default(gitops_service_name) }}
spec:
  replicas: {{ gitops_service_replicas | default(1) }}
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ gitops_app_name | default(gitops_service_name) }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ gitops_deployment_name | default(gitops_service_name) }}
        app: {{ gitops_application_name | default(gitops_service_name) }}
    spec:
      containers:
      - name: {{ gitops_container_name }} 
        image: {{ gitops_container_image }}:{{ gitops_container_version }} 
        imagePullPolicy: "Always"
        env:
{% for env in gitops_environment_vars | default([]) %}
        - name: {{ env.name }}
          value: {{ env.value }}
{% endfor %}
        volumeMounts:
{% for mount in gitops_volume_mounts | default([]) %}
        - name: {{  mount.name }}
          mountPath: {{ mount.path }}  
{% endfor %}
      volumes:
{% for volume in gitops_volumes | default([]) %}
      - name: {{ volume.name }}
        persistentVolumeClaim:
          claimName: {{ volume.claim }}
{% endfor %}
 