globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  # - "--log.level=DEBUG"

deployment:
  enabled: true
  replicas: {{ homelab_k8s_service_replicas | default(3) }}
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers: []

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    tls:
      enabled: true
{% for port in homelab_k8s_traefik_extra_ports | default([]) %}
  {{ port.name }}:
    port: {{ port.port }}
    expose: {{ port.expose }}
    exposedPort: {{ port.exposedPort }}
    protocol: {{ port.protocol }}
{% endfor %}
      
ingressRoute:
  dashboard:
    enabled: false

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowExternalNameServices: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    allowCrossNamespace: true
    publishedService:
      enabled: false

rbac:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: {{ gitops_traefik_load_balancer_ip }} # this should be an IP in the MetalLB range
  loadBalancerSourceRanges: []
  externalIPs: []
