---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base/

helmCharts:
- name: longhorn
  repo: https://charts.longhorn.io
  releaseName: longhorn
  namespace: longhorn-system
  version: 1.10.1
  valuesFile: values.yaml
