---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ homelab_k8s_ingress_name | default(homelab_k8s_service_name) }}
  namespace:  default
  annotations: 
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
{% if homelab_k8s_traefik_routes is defined and homelab_k8s_traefik_routes | length > 0 %}
  routes:
{% for route in homelab_k8s_traefik_routes %}
    - match: Host(`{{ route.host }}`)
      kind: Rule
      middlewares:
{% if route.authentik | default(false) %}
        - name: authentik
          namespace: default
{% endif %}
        - name: {{ homelab_k8s_traefik_ingress_route_middleware_name | default('traefik-custom-headers') }}
          namespace: {{ homelab_k8s_traefik_ingress_route_middleware_namespace | default('default') }}
      priority: 10
      services:
        - name: {{ route.service_name | default(homelab_k8s_service_name) }}
          namespace:  {{ homelab_k8s_namespace }}
          port: {{ route.service_port | default(homelab_k8s_service_port) }}
          scheme: {{ route.scheme | default('http') }}        
{% if route.authentik | default(false) %}
    - kind: Rule
      match: "Host(`{{ route.host }}`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
        - kind: Service
          # Or, to use an external Outpost, create an ExternalName service and reference that here.
          # See https://kubernetes.io/docs/concepts/services-networking/service/#externalname
          name: ak-outpost-authentik-embedded-outpost
          port: 9000
{% endif %}
{% endfor %}
{% else %}
  routes: []
{% endif %}
  tls:
    secretName: production-tls
