---
apiVersion: v1
kind: Service
metadata:
  name: {{ homelab_k8s_service_name }}
  namespace: {{ homelab_k8s_namespace }}
spec:
  selector:
    app: {{ homelab_k8s_application_name | default(homelab_k8s_service_name) }}
  ports:
  - name: http
    targetPort: {{ homelab_k8s_service_target_port | default(homelab_k8s_service_port) }}
    port: {{ homelab_k8s_service_port }}
