---
- name: get hosts ready for devops work (as root)
  hosts: devops
  become: yes
  gather_facts: yes
  tags: [devops_root]

  roles:
    - kustomize
    - ansible
    - terraform
    - doppler
    - aws
    - kubectl
    - talosctl
    - helm

- name: setup automated backups for s3 and postgres
  hosts: devops
  become: yes
  gather_facts: yes
  tags: [devops_backup]

  roles:
    - role: postgres_db_backup
      when:
        - postgres_db_backup_enabled | default(false)

- name: get hosts ready to do devops work (as local user)
  hosts: devops
  become: no
  gather_facts: yes
  tags: [devops_lab]

  roles: 
    - public_key
    - private_key
    - devops
    - tailscale
