---
- name: get hosts ready for devops work (as root)
  hosts: devops
  become: yes
  gather_facts: yes
  tags: [devops_root]

  roles:
    - kustomize
    - ansible
    - terraform
    - doppler
    - aws
    - kubectl
    - talosctl
    - helm

- name: setup automated backups for s3 and postgres
  hosts: devops
  become: yes
  gather_facts: yes
  tags: [devops_backup]

  roles:
    # - role: postgres_db_backup
    #   when:
    #     - postgres_db_backup_enabled | default(false)
    - role: s3_local_mirror

  post_tasks:
    - name: setup backup fragments for devops hosts
      include_tasks: "playbooks/includes/backup_fragments.yaml"
      vars:
        backup_known_hosts: ['procyon']
        backup_fragments:
          - name: "devops-hosts.conf"
            header: "devops backups of databases and s3 buckets"
            pairs:
              - { src: "{{ postgres_db_backup_dir }}",
                  dest: "allan@{{ hostvars['procyon'].ansible_host }}:/mnt/pool1/gitops-homelab/backup-runner/{{ inventory_hostname }}/db-dumps" }

- name: get hosts ready to do devops work (as local user)
  hosts: devops
  become: no
  gather_facts: yes
  tags: [devops_lab]

  roles: 
    - public_key
    - private_key
    - devops
    - tailscale
