services:

  homelab-metrics:
    image: "allanelewis/homelab-metrics:latest"
    container_name: "homelab-metrics"
    restart: "unless-stopped"
    ports: 
      - "9102:9102/tcp"
    environment: 
      FORWARD_METRICS_URL: "{{ homelab_metrics_forward_url }}"
